<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" type="text/css" href="../polymer/lib/elements/dom-repeat.html">
<link rel="import" type="text/css" href="../polymer/lib/utils/gestures.html">
<link rel="import" type="text/css" href="../paper-input/paper-input.html">
<link rel="import" type="text/css" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" type="text/css" href="../paper-button/paper-button.html">





<dom-module id="check-list">
  <template>
    <style>
      :host {
        display: block;
      }
      .task{
        display: flex;
        align-items: center;
      }
      paper-input{
        display: inline-block;
      }
    </style>
    

    <h1>Todo</h1>
    <dom-repeat 
    items="{{task}}"
     as="task"
     filter="isNotCompleted"
     observe="completed">
      
      <template is="dom-repeat" >
         <div class="task">
          <paper-checkbox checked="{{task.completed}}"></paper-checkbox>
          <paper-input laber="task name" no-label-float value="{{task.name}}"></paper-input>
         </div>
      </template>
    
    </dom-repeat>
   

    <h1>Completados</h1>

    <dom-repeat 
    items="{{task}}"
     as="task"
     filter="isCompleted"
     observe="completed">
      
      <template is="dom-repeat" >
         <div class="task">
          <paper-checkbox checked="{{task.completed}}"></paper-checkbox>
          <paper-input laber="task name" no-label-float value="{{task.name}}"></paper-input>
         </div>
      </template>
    
    </dom-repeat>
    
    <paper-button  on-click="agregarTask" >add tag</paper-button>
    
  </template>

  <script>
    /**
     * `check-list`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class CheckList extends Polymer.Element {
      static get is() { return 'check-list'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'check-list'
          },
          task: {
            type: Array,
            value: () =>[]
          }
        };
      }
      agregarTask(){
        const newTask ={
        name: '',
        completed: false
      };
      this.push('task',newTask);

      }
      isNotCompleted(task){
        return !task.completed;

      }
      isCompleted(task){
        return task.completed;

      }
    }

    window.customElements.define(CheckList.is, CheckList);
  </script>
</dom-module>
